<section class="info_section ">

  <div class="container">
    <div class="info_top ">
      <div class="row ">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_form">
            <h4>
              Stay Connected
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <div class="info_detail">
            <h4>
              About Us
            </h4>
            <p>
              "Welcome to our Vehicle Parking System! We are dedicated to providing efficient and
               convenient parking solutions to streamline your daily commute."

            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <div class="info_detail">
            <h4>
              Online Booking
            </h4>
            <p>
             Book your Vehicles online in very easy way Quick way to Book Your Parking.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <h4>
            Contact us
          </h4>

          <div class="contact_nav">
            <a href="#">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Mirpur University of Science and Technology
              </span>
            </a>
            <a href="#">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                +923128877331
              </span>
            </a>
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Mianarfan44@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By Vehicle Parking System Team (MUST)
      </p>
    </div>
  </footer>