{% include 'main_web/head_tag.html' %}
{% load static %}
<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'main_web/images/slider-bg.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    {% include 'main_web/navbar.html' %}
    <!-- end header section -->
    <!-- slider section -->
    {% include 'main_web/slider.html' %}
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container ">
        <h2>
          About Us
        </h2>
        <p>
         "Welcome to our Vehicle Parking System! We are dedicated to providing efficient and convenient parking solutions to streamline your daily commute."
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="img-box">
            <img src="{% static 'main_web/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail-box">
            <h3>
              We Are Here For Help
            </h3>
            <p>
              Here, we help you navigate the world of vehicle parking with ease. Our mission is to simplify
              your parking experience by offering innovative solutions and technology-driven services.
              Whether you're a driver looking for hassle-free parking or a business seeking efficient parking management,
              we've got you covered. With our expertise and commitment to convenience,
              we're here to make every parking moment a breeze. Trust us to be your parking partner.<br>
              <br>
              Regards: Team Vehicle Parking System

            </p>

            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding-bottom">
    <div class="container">
      <div class="col-md-10 px-0">
        <div class="heading_container">
          <h2>
            Why Choose Us
          </h2>
          <p>
           "Choose us for a customer-centric approach, delivering tailored parking solutions. Our
            commitment to technology and sustainability ensures advanced and eco-friendly options. With a
            track record of reliability, count on us for a stress-free parking experience."

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'main_web/images/w1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                No Booking Fees
              </h4>
              <p>
                Voluptatem earum eveniet mollitia sit animi dolorum. Iste, quas? Omnis error culpa illo nihil consequatur consectetur tenetur harum modi, quae libero ducimus reiciendis voluptat excepturi. Cum ducimus nesciunt dicta tenetur ducimus perferendis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'main_web/images/w2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Online Payments
              </h4>
              <p>
                Voluptatem earum eveniet mollitia sit animi dolorum. Iste, quas? Omnis error culpa illo nihil consequatur consectetur tenetur harum modi, quae libero ducimus reiciendis voluptat excepturi. Cum ducimus nesciunt dicta tenetur ducimus perferendis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Simple Booking Process
              </h4>
              <p>
                Voluptatem earum eveniet mollitia sit animi dolorum. Iste, quas? Omnis error culpa illo nihil consequatur consectetur tenetur harum modi, quae libero ducimus reiciendis voluptat excepturi. Cum ducimus nesciunt dicta tenetur ducimus perferendis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- pricing section -->

  <section class="pricing_section layout_padding">
    <div class="bg-box">
      <img src="images/pricing-bg.jpg" alt="">
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Pricing
        </h2>
      </div>
      <div class="col-xl-10 px-0 mx-auto">
        <div class="row">
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                PKR 30
              </h4>
              <h5 class="name">
                Basic
              </h5>
              <p>
                "Our Basic Plan, priced at just 30 PKR, provides an affordable yet effective solution for your
                 parking needs. With this budget-friendly option, you can access essential parking services and
                 enjoy the convenience of our system without breaking the bank. Whether you're a daily
                 commuter or an occasional parker, our Basic Plan ensures you get the most value for your money
                 while simplifying your parking experience."
              </p>
              <a href="">
                Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box box-center">
              <h4 class="price">
                PKR 60
              </h4>
              <h5 class="name">
                Premium
              </h5>
              <p>
                "Our Premium Plan, priced at just 60 PKR, offers an elevated parking experience with a
                range of exclusive features. With this affordable option, you can enjoy priority parking, extended
                access hours, and additional perks that enhance your convenience and comfort. Whether you're a
                frequent parker or seek added convenience, our Premium Plan delivers exceptional value for
                your money, ensuring you receive top-notch parking services without breaking the bank."

              </p>
              <a href="">
                Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                80 PKR
              </h4>
              <h5 class="name">
                Standard
              </h5>
              <p>
               "Our Standard Plan, priced at only 80 PKR, strikes the perfect balance between affordability
                and convenience. This versatile plan caters to a wide range of parking needs, offering reliable
                and accessible parking facilities. With the Standard Plan, you benefit from flexible access hours,
                secure parking, and a host of essential amenities, making it an ideal choice for those seeking a
                dependable parking solution without compromising on quality."

              </p>
              <a href="">
                Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end pricing section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container col">
        <h2>
          What Says Our <span>Client</span>
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel client_owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    "As a frequent commuter, I can't say enough about the Vehicle Parking System. It's been a gamechanger for me. The Basic Plan at just 30 Rs PKR suits my budget perfectly, and I appreciate the
                     ease of finding available parking spots and the straightforward payment process. It has truly
                     simplified my daily parking hassles, and I couldn't be happier with the service!"

                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{% static 'main_web/images/c1.jpg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Lisa Adams
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                   "As a frequent commuter, I can't say enough about the Vehicle Parking System. It's been a gamechanger for me. The Basic Plan at just 30 Rs PKR suits my budget perfectly, and I appreciate the
                    ease of finding available parking spots and the straightforward payment process. It has truly
                    simplified my daily parking hassles, and I couldn't be happier with the service!"
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{% static 'main_web/images/c2.jpg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Michel Trout
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <!-- end info_section -->
  <!-- footer section -->
  {% include 'main_web/footer.html' %}
  <!-- footer section -->
  {% include 'main_web/script_tag.html' %}

</body>

</html>