{% extends 'admin_site/base.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div id="layoutAuthentication">
              <div id="layoutAuthentication_content">
                  <main>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-10">
                                  <div class="card shadow-lg border-0 rounded-lg mt-5">
                                     
                                      <div class="card-header"><h3 class="text-center font-weight-light my-4">UPDATE PARKING</h3></div>
                                      <div class="card-body">
                                          <form method="post">
                                            {% csrf_token %}
                                             {% include 'accounts/alert.html' %}
                                             <div class="form-floating mb-3">
                                                <select class="form-select" id="selectParking" name="select_area_name" required>
                                                    <option value="{{parking.area.area_name}}" selected>{{parking.area.area_name}}</option>
                                                    {% for area in areas  %}
                                                    {% if parking.area.area_name != area.area_name %}
                                                    <option value="{{area.area_name}}">{{area.area_name}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <!-- Add more options as needed -->
                                                </select>
                                              </div>
                                              <div class="form-floating mb-3">
                                                  <input class="form-control" id="inputEmail" type="text" value="{{parking.name}}" name="parking_name" required placeholder="" />
                                                  <label for="inputEmail"> Parking Name</label>
                                              </div>
                                              <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" value="{{parking.address}}" type="text" name="parking_address" required placeholder="" />
                                                <label for="inputEmail"> Parking Address</label>
                                                <input class="form-control" id="inputEmail" value="{{parking.id}}" type="hidden" name="parking_id"/>
                                            </div>
                                             
                                              <div class="mt-4 mb-0">
                                                  <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">UPDATE PARKING</button></div>
                                              </div>
                                          </form>
                                      </div>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </main>
              </div>
             
          </div>
           
           
        </div>
    </main>
   

{% endblock %}

