{% include 'main_web/head_tag.html' %}
{% load static %}
<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'main_web/images/slider-bg.jpg' %}" style=""  alt="">
    </div>
    <!-- header section strats -->
    {% include 'main_web/navbar.html' %}
    <!-- end header section -->
    <!-- slider section -->
    <div id="login" class="pt-2">
      <div class="container ">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'accounts/alert.html' %}
                          <h3 class="text-center text-info">Sign Up</h3>
                          <div class="form-group">
                              <label for="username" class="text-info">Username</label><br>
                              <input type="text" name="name" id="username" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="password" class="text-info">Email</label><br>
                            <input type="emial" name="email" id="Email" class="form-control">
                        </div>

                          <div class="form-group">
                            <label for="password" class="text-info">Password</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                          </div>

                          <div class="form-group">
          
                              <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                          </div>
                          <div id="register-link" class="text-right pt-4">
                            <a href="{% url 'user_login' %}" class="text-info">Login Here</a>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
    <!-- end slider section -->
  </div>

  <!-- about section -->

 

  <!-- end client section -->

  <!-- info section -->
 
  <!-- end info_section -->
  <!-- footer section -->
  {% include 'main_web/footer.html' %}
  <!-- footer section -->
  {% include 'main_web/script_tag.html' %}
  
</body>

</html>